<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Data Export"
            id="uk.ac.diamond.sda.Exporter">
      </category>
      <view
            name="SDA Exporter"
            icon="icons/sample.gif"
            category="uk.ac.diamond.sda.Exporter"
            class="uk.ac.diamond.sda.exporter.views.ExporterView"
            id="uk.ac.diamond.sda.exporter.rcp.views.ExporterView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.sda.exporter.ExportWizardHandler"
            id="uk.ac.diamond.sda.exporter.ExportCommand"
            name="Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.diamond.sda.exporter.ExportCommand"
               icon="icons/export_wiz.gif"
               label="Export..."
               style="push"
               tooltip="Convert data to other formats">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.diamond.sda.exporter.ExportCommand"
               icon="icons/export_wiz.gif"
               label="Export..."
               style="push"
               tooltip="Convert data to other formats">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.edna.workbench.actions.convertContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/export_wiz.gif"
               id="uk.ac.diamond.sda.export.actions.ExportMenu"
               label="Export"
               path="additions">
         </menu>
         <action
               class="uk.ac.diamond.sda.exporter.ExportWizardHandler"
               enablesFor="+"
               icon="icons/page_white_world.png"
               id="uk.ac.diamond.sda.export.actions.Export"
               label="Open Wizard..."
               menubarPath="uk.ac.diamond.sda.export.actions.Export/convert"
               tooltip="Convert to csv file in the same project location">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="uk.ac.diamond.sda.exporter.SDAFileExport"
            class="uk.ac.diamond.sda.exporter.ExportWizard"
            icon="icons/export_transp_hdf.gif"
            id="uk.ac.diamond.sda.exporter.ConvertWizard"
            name="HDF5 Export">
      </wizard>
      <category
            id="uk.ac.diamond.sda.exporter.SDAFileExport"
            name="SDA File Export">
      </category>
      <category
            id="org.eclipse.faq.examples.WizardSubCategory"
            name="More Specific FAQ Wizards">
         parentCategory="org.eclipse.faq.examples.MyWizard"
      </category>
   </extension>
</plugin>
