<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.sda.meta.metadataPageRegister" name="Metadata Page Register" schema="schema/uk.ac.diamond.sda.meta.metadataPageRegister.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metadata"
            id="uk.ac.diamond.sda.meta.category">
      </category>
      <view
            category="uk.ac.diamond.sda.meta.category"
            class="uk.ac.diamond.sda.meta.views.MetadataPageBookView"
            icon="icons/DiffractionIcon.png"
            id="uk.ac.diamond.sda.meta.MetadataPageBookView"
            name="Metadata View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.diamond.sda.meta.metadataPageRegister">
      <client
            class="uk.ac.diamond.sda.meta.page.DiffractionMetadataPage"
            name="Diffraction Metadata"
            supportedMetadata="uk.ac.diamond.scisoft.analysis.io.IDiffractionMetadata">
      </client>
      <client
            class="uk.ac.diamond.sda.meta.page.HeaderTablePage"
            name="Header"
            supportedMetadata="uk.ac.diamond.scisoft.analysis.io.IMetaData">
      </client>
   </extension>

</plugin>
