<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.sda.meta.metadataPageRegister" name="Metadata Page Register" schema="schema/uk.ac.diamond.sda.meta.metadataPageRegister.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metadata"
            id="uk.ac.diamond.sda.meta.category">
      </category>
      <view
            category="uk.ac.diamond.sda.meta.category"
            class="uk.ac.diamond.sda.meta.views.MetadataPageView"
            icon="icons/DiffractionIcon.png"
            id="uk.ac.diamond.sda.meta.MetadataPageView"
            name="Metadata View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.diamond.sda.meta.metadataPageRegister">
      <client
            class="uk.ac.diamond.sda.meta.page.DiffractionMetadataComposite"
            icon="icons/DiffractionIcon.png"
            name="Diffraction Metadata"
            supportedMetadata="uk.ac.diamond.sda.meta.discriminator.DiffractionMetadataDiscriminator">
      </client>
      <client
            class="uk.ac.diamond.sda.meta.page.HeaderTablePage"
            icon="icons/header_table.gif"
            name="Header"
            supportedMetadata="uk.ac.diamond.sda.meta.discriminator.MetadataDiscriminator">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="preferences.MetadataPageAssociationPreferences"
            id="uk.ac.diamond.sda.meta.metadataPageAssociationPreferences"
            name="Metadata Page Association Preferences">
      </page>
   </extension>

</plugin>
