<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.sda.meta.metadataPageRegister" name="Metadata Page Register" schema="schema/uk.ac.diamond.sda.meta.metadataPageRegister.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metadata"
            id="uk.ac.diamond.sda.meta.category">
      </category>
      <view
            category="uk.ac.diamond.sda.meta.category"
            class="uk.ac.diamond.sda.meta.views.MetadataPageView"
            icon="icons/diffraction-meta.png"
            id="uk.ac.diamond.sda.meta.MetadataPageView"
            name="File Header"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.diamond.sda.meta.metadataPageRegister">
      <client
            class="uk.ac.diamond.sda.meta.page.DiffractionMetadataComposite"
            icon="icons/diffraction-meta.png"
            name="Diffraction Metadata"
            supportedMetadata="uk.ac.diamond.sda.meta.discriminator.DiffractionMetadataDiscriminator">
      </client>
      <client
            class="uk.ac.diamond.sda.meta.page.MetadataTablePage"
            icon="icons/header_table.gif"
            name="Header"
            supportedMetadata="uk.ac.diamond.sda.meta.discriminator.MetadataDiscriminator">
      </client>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.sda.meta.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="uk.ac.diamond.sda.meta.preferences.MetadataAssociationPreferences"
            id="uk.ac.diamond.sda.meta.preferences.MetadataAccociationPreferences"
            name="Metadata Accociation Preferences">
      </page>
   </extension>
   <extension
         point="org.dawb.common.ui.toolPage">
      <plotting_tool_page
            class="uk.ac.diamond.sda.meta.tools.MetadataTool"
            icon="icons/diffraction-meta.png"
            id="uk.ac.diamond.sda.meta.tools.metadataTool"
            label="Metadata"
            tooltip="A tool to edit the metadata for images">
      </plotting_tool_page>
   </extension>

</plugin>
