<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.ac.diamond.scisoft.actionSet1"
            label="label"
            visible="true">
         <action
               class="uk.ac.diamond.scisoft.feedback.FeedbackAction"
               id="uk.ac.diamond.scisoft.feedback"
               label="Leave Feedback"
               menubarPath="Help/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.ac.diamond.scisoft"
            name="DAWN">
      </category>
      <view
            category="uk.ac.diamond.scisoft"
            class="uk.ac.diamond.scisoft.feedback.FeedbackView"
            icon="icons/editor.gif"
            id="uk.ac.diamond.scisoft.feedback.FeedbackView"
            name="Feedback">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.diamond.scisoft.JythonCreator">
      </startup>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_new_custom_entries">
      <interpreter_new_custom_entries_participant
            class="uk.ac.diamond.scisoft.PyDevAdditionalInterpreterSettings">
      </interpreter_new_custom_entries_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_interpreter_provider">
      <interpreter_provider_participant
            class="uk.ac.diamond.scisoft.PythonInterpreterProviderFactory">
      </interpreter_provider_participant>
   </extension>
</plugin>
