<?eclipse version="3.4"?><plugin><extension point="org.eclipse.ui.views">
             <view
                   category="org.dawb.workbench.application.data.analysis"
                   class="uk.ac.diamond.scisoft.rp.views.RenderImagesMainView"
                   icon="icons/Render3D_Icon_Small.png"
                   id="uk.ac.diamond.scisoft.rp.MainView"
                   name="Render 3D"
                   restorable="true">
             </view></extension>
                                 <extension
                                       point="org.eclipse.ui.popupMenus">
                                    <objectContribution
                                          adaptable="false"
                                          id="uk.ac.diamond.scisoft.rp.MainViewPopUp"
                                          objectClass="org.eclipse.core.resources.IFolder">
                                       <action
                                             class="uk.ac.diamond.scisoft.rp.actions.RenderImageOpenAction"
                                             id="uk.ac.diamond.scisoft.rp.RenderImageOpenAction"
                                             label="Render 3D Images">
                                       </action>
                                    </objectContribution>
                                 </extension>
                                 <extension
                                       point="org.eclipse.ui.preferencePages">
                                    <page
                                          category="org.edna.workbench.preferences.root"
                                          class="uk.ac.diamond.scisoft.rp.Render3DPreferencePage"
                                          id="uk.ac.diamond.scisoft.rp.Preferences"
                                          name="Render 3D">
                                    </page>
                                 </extension>
                                 <extension
                                       point="org.eclipse.core.runtime.preferences">
                                    <initializer
                                          class="uk.ac.diamond.scisoft.rp.Render3DInitializer">
                                    </initializer>
                                 </extension>
                                 <extension
                                       point="org.eclipse.ui.perspectives">
                                    <perspective
                                          class="uk.ac.diamond.scisoft.rp.Render3DPerspective"
                                          id="uk.ac.diamond.scisoft.rp.Render3DPerspective"
                                          name="Render 3D perspective">
                                    </perspective>
                                 </extension>
                                 <extension
                                       point="org.eclipse.ui.cheatsheets.cheatSheetContent">
                                    <category
                                          id="uk.ac.diamond.scisoft.rp.category"
                                          name="Render 3D">
                                    </category>
                                    <cheatsheet
                                          category="uk.ac.diamond.scisoft.rp.category"
                                          composite="false"
                                          contentFile="cheat/creatingInfoFileCheat.xml"
                                          id="uk.ac.diamond.scisoft.rp.creatingInfoCheat"
                                          name="Creating .info File">
                                    </cheatsheet>
                                    <cheatsheet
                                          category="uk.ac.diamond.scisoft.rp.category"
                                          composite="false"
                                          contentFile="cheat/generalCheat.xml"
                                          id="uk.ac.diamond.scisoft.rp.generalCheat"
                                          name="Render 3D general">
                                    </cheatsheet>
                                 </extension>
                                 <extension
                                       point="uk.ac.diamond.scisoft.introRegister">
                                    <introPageRegister
                                          class="uk.ac.diamond.scisoft.rp.Render3DPerspectiveLauch"
                                          description="Opens the Render 3D perspective"
                                          icon="icons/Render3D_Icon.png"
                                          id="uk.ac.diamond.scisoft.rp.Render3DPageRegister"
                                          name="Render 3D">
                                    </introPageRegister>
                                 </extension></plugin>
